/*************************************************************************/
/******************* All pages general ***********************************/
body {
    color: #007255;
}

.page-wrapper {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0 20px;
}

#maincontent {
    padding: 60px;
}

.page-wrapper .page-header .header.content, .page-wrapper #maincontent {
    background: #fff;
}

.page-wrapper .sections.nav-sections {
    background: transparent;
}

.page-wrapper .page-footer, .page-wrapper .copyright {
    margin: 0 -20px;
    background: #f4f4f4;
}

.page-title-wrapper {
    margin-top: 40px;
    text-transform: uppercase;
}

.action.primary, #top-cart-btn-checkout, .action.action-apply {
    margin: 0 auto;
    padding: 10px 15px  !important;
    background: #F79239 !important;
    border: 1px solid #F79239 !important;
    border-radius: 20px !important;
    color: white !important;
    font-size: 14px;
    box-shadow: none;
}

.bundle-options-container .block-bundle-summary .product-addto-links > .action:hover, .product-item-actions .actions-secondary > .action:hover, 
.product-social-links .action.tocompare:hover, .wishlist.split.button > .action.split:hover, .product-social-links .action.mailto.friend:hover, 
.product-social-links .action.towishlist:hover, .block-bundle-summary .action.towishlist:hover, .product-item .action.towishlist:hover, 
.table-comparison .action.towishlist:hover {
    color: #F79239 !important;
    
}

/*************************************************************************/
/******************* Header **********************************************/
.page-wrapper .page-header .header.content {
    padding: 20px 20px 20px 50px;
    display: flex;
    align-items: center;
}

.page-header .logo {
    margin: 0 auto -60px 0;
    display: flex;
    align-items: flex-end;
}

.page-header .header.links {
    margin: 0;
}

.page-header .header.links img {
    width: 25px;
    height: 25px;
}

.page-header .header.links .customer-welcome {
    display: none;
}

.page-header .minicart-wrapper {
    margin-left: 15px;
}
.page-header .minicart-wrapper .action.showcart {
    position: relative;
}

.page-header .minicart-wrapper .action.showcart .text {
    display:none;
}

.page-header .minicart-wrapper .action.showcart .counter.qty:not(.empty) {
    position: absolute;
    right: -10px;
    top: -5px;
    height: 16px;
    line-height: 14px;
    width: 16px;
    border-radius: 45px;
    display: block;
    min-width: 0;
    margin: 0;
    padding: 2px;
}

.page-header .minicart-wrapper .action.showcart .counter.qty .counter-number {
    font-size: 10px;
}

.page-header .dropdown-block.language-block{
    margin-left: 20px;
    margin-bottom: 4px;
}

.page-header .dropdown-block.language-block .lang-switcher {
    position: relative;
}

.page-header .dropdown-block.language-block .dropdown-toggle .flag {
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007255;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    padding-left: 1px !important;
    font-size: 80%;
    background-image: none !important;
}

.page-header .dropdown-block.language-block .dropdown-list {
    display: none;
    cursor: default;
    position: absolute;
    right: 0px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    padding: 20px 25px;
    z-index: 11;
    min-width: 120%;
    box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.2);
    top: 100%;
    list-style: none;
}

.page-header .dropdown-block:hover .dropdown-list {
    display: block;
}

.page-header .dropdown-block.language-block .flag-icon {
    background-repeat: no-repeat;
    padding-left: 20px;
}
/*************************************************************************/
/******************* Menu ************************************************/

.page-wrapper .sections.nav-sections {
    margin-bottom: 0;
}

.page-wrapper .sections.nav-sections .navigation {
border-top: 3px solid #f8d690;
    border-bottom: 3px solid #f8d690;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) {
    background-color: rgb(5, 134, 100) !important;
    border-bottom: 3px solid #000;
    
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a{
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    border-width: 0;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a > span {
    color: white;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item.active {

    background: #f8d690;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item.active > a > span {
    color: #007255;
}
.page-wrapper .sections.nav-sections .navigation .submenu {
    background: #3a963a !important;
	
}
.page-wrapper .sections.nav-sections .navigation .submenu a {
    background-color: #3a963a;
	color: white !important;
}


.page-wrapper .sections.nav-sections .navigation .submenu a:hover {
    background-color: #f8d690;
	color: #3a963a !important;
}

@media only screen and (max-width: 767px) {
    .page-header .logo {
        margin: 0px auto 0px 30px;
    
    }

    .page-wrapper .sections.nav-sections .section-item-title.nav-sections-item-title {
        display:none;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a{
        padding: 10px 20px;
    }

    .page-wrapper .navigation a, .page-wrapper .navigation a > span {
        color: white;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > ul{
        padding-left: 20px;
    }

    .navigation .level0.active>a:not(.ui-state-active), .navigation .level0.has-active>a:not(.ui-state-active), .navigation .submenu:not(:first-child) .active>a {
        border-color: #ffcc33;
    }
    
}

@media only screen and (min-width: 767px) and (max-width: 864px) {

    .page-header .logo img {
        width:80%;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) {
        padding-left: 25%;
        display: flex;
        align-items: center;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item {
        margin: 0;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item span {
        font-size: 14px;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a > span:after {
        display:none;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a {

        padding: 0 10px;
    }
}

@media only screen and (min-width: 865px) and (max-width: 1089px) {
    
    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) {
        padding-left: 30%;
        display: flex;
        align-items: center;
    }
    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item {
        margin: 0;
    }

    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item span {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1090px) {
    
    .page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) {
        padding-left: 30%;
        display: flex;
        align-items: center;
    }

  
  
}


  @media only screen and (max-width: 600px){

    
    .page-wrapper .page-header .header.content {
        padding: 20px 0px 20px 20px;
       
    }
    .page-header .header.links {

        padding-inline-start: 0px !important;
    }
    .page-header .header.links a{

        margin-left: 0px !important;
    }

    .page-header .minicart-wrapper{

        margin-left: 5px !important;
        margin-top: 0px !important;
    }
    .page-header .dropdown-block.language-block{

        margin-left: 5px !important; 
    }
    

  }

  @media only screen and (min-width: 600px){




}


/*************************************************************************/
/******************* Footer **********************************************/

.footer.content {display:flex;}

.footer.content .block.newsletter {display:none;}

.footer.content .block-static-block {
    width: 100%;
    display: flex;
    padding: 60px 20px;
}

.footer.content .some-class > div {
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .footer .widget.block.block-static-block > div {
      width: 50% !important;
    
    }
}
    
@media only screen and (max-width: 767px) {
    
    .footer .widget.block.block-static-block {
       flex-direction: column-reverse !important;
    }
    .footer .widget.block.block-static-block div:nth-child(2) >div {
    justify-content: center !important;;
    
    }
    
    .footer .widget.block.block-static-block > div:first-child > div {
      padding-top: 50px !important;
    
    }
    
}
    

/*************************************************************************/
/******************* Home ************************************************/

body.cms-home #maincontent {
    padding-top: 0;
}

@media (min-width: 680px){
    .home-flower-container {
        max-width: 622px !important;
        max-height: 622px !important;
        height: 622px !important;
    }
}

body.cms-home .home-flower-container {
    background-image: url(../images/flower.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 470px;
    max-height: 470px;
    height: 470px;
    margin: auto auto;
}

body.cms-home .flower-widget-container .block-category-link {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

body.cms-home .flower-widget-container .block-category-link > a {
    height: 100%;
    width: 100%;
    display: block;
}

body.cms-home .flower-widget-container .block-category-link > a > span {
    display: none;
}

body.cms-home .cat-image {
    cursor: pointer;
}

body.cms-home .admin__data-grid-outer-wrap .block-title, body.cms-home .block-new-products .block-title {
    display:none;
}

body.cms-home .admin__data-grid-outer-wrap .product-items .product-item-details, body.cms-home .block-new-products .product-items .product-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.cms-home .block-new-products .product-items .product-item-details .price-details {
    margin-bottom: 20px;
}

body.cms-home .block-new-products .pager {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

body.cms-home .block-new-products .pager .item.current .page {
    background: rgba(0, 114, 85, 1);
    color: white;
}

body.cms-home .block-new-products .pager .item.pages-item-next .action,
body.cms-home .block-new-products .pager .item.pages-item-previous .action {
    background: transparent;
    border: 1px solid rgba(0, 114, 85, 0.5);
    border-radius: 0;
    margin: 0;
}

.cms-home .products-grid.grid .product-item-details {
   
    min-height: 175px;

}

.cms-home .products-grid.grid .product-item-details .price-box {
    margin: auto 0;
}

.cms-home .products-grid.grid .product-item-details .price-box .price {
    font-size: 2rem;
}

.cms-home .products-grid.grid .product-item-details .product-item-actions {

   margin-top: auto;

}


@media only screen and (min-width: 767px) {

    body.cms-home .admin__data-grid-outer-wrap .product-items,
    body.cms-home .block-new-products .product-items {
        display        : flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 600px) {
    .cms-home .column.main > div:nth-child(2) {

        display: none !important;
    }


}

@media only screen and (min-width:640px) and (max-width:767px) {

    .cms-home .block.widget .products-grid .product-items.widget-new-grid li {


        width: calc((100% - 4%)/2);
        margin-top: 50px;
    margin-bottom: 50px;

    }


}


@media only screen and (max-width:640px) {

    .cms-home .block.widget .products-grid .product-items.widget-new-grid li {


        width          : calc((100% - 4%)/1);
        display        : flex;
        justify-content: center;
        margin-top: 50px;
    margin-bottom: 50px;
    }


}

@media only screen and (max-width: 400px) {

    .cms-home .column.main>div:first-child>div:first-child>div:first-child {

        flex-direction: column;
        align-items   : center;

    }

    .cms-home .column.main>div:first-child>div:first-child>div:first-child * {

        text-align: center !important;

    }

}
  


/*************************************************************************/
/******************* Uber-uns & kontakt **********************************/


/*************************************************************************/
/******************* Catalog Category ************************************/

body.catalog-category-view ol.product-items {
    display: flex;
    flex-wrap: wrap;
}

body.catalog-category-view ol.product-items .product-item {
    width: 30%;
    margin-left: 0 !important;
    margin-right: 3%;
    margin-bottom: 60px;
}

body.catalog-category-view #maincontent .products.wrapper.grid.products-grid.products-related .product-item-details .product-item-name {

    min-height: 40px !important;
    }

/*************************************************************************/
/******************* Catalog Product *************************************/

body.catalog-product-view .column.main .product-info-main .product-info-price{ 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

body.catalog-product-view .column.main .product-info-main .price-final_price {
    display: flex;
    width: auto;
}

body.catalog-product-view .column.main .product-info-main .price-final_price .price-container {
    display: flex;
    align-items: flex-end;
}

body.catalog-product-view .column.main .product-info-main .price-final_price .price-container .price-wrapper {
    margin-bottom: 0;
}

body.catalog-product-view .column.main .product-info-main .price-details {
    display: flex;
    margin-left: 10px;
    align-items: flex-end;
    padding-bottom: 10px;
}

body.catalog-product-view .column.main .product-info-main .product-info-stock-sku {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}


/*************************************************************************/
/******************* Checkout Page ***************************************/

body.checkout-index-index #additional_checkout_attributes .actions-toolbar .button.action.back {
    display:none;
}

body.checkout-index-index #additional_checkout_attributes select {
    width: auto;
}

body.checkout-index-index #additional_checkout_attributes select[name="additional_checkout_attributes[lieferoptionen]"] option:first-child {
    display:none;
}

