<div>
    <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" style="display: flex;flex-direction: row-reverse;justify-content: flex-end;">
        <fieldset class="fieldset">
            <legend data-bind="i18n: 'Der Blumenstrauß kann vor der Tür abgelegt werden'"></legend>
            <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>
        <label class="data-grid-checkbox-cell-inner">
            <input type="checkbox"
                   class="admin__control-checkbox"
                   checked="true"
            >
            <label></label>
        </label>
    </form>
</div>